<div class="fixed-action-btn">
	<a class="btn-floating btn-large green">
		<i class="large fa fa-pencil"></i>
	</a>
	<ul>
		<li>
			<a href="/stories/add" class="btn-floating red">
				<i class="fa fa-plus"></i>
			</a>
		</li>
		<li>
			<a href="/stories" class="btn-floating blue">
				<i class="fa fa-book"></i>
			</a>
		</li>
		<li>
			<a href="/" class="btn-floating gray">
				<i class="fa fa-bars"></i>
			</a>
		</li>
	</ul>
</div>